<p id="notice"><%= notice %></p>

<h1>Edit Recommend Board Game</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <li>
      title: <%= @recommend_board_game.title %>
    </li>
          <li>
        link: <a href="<%= @recommend_board_game.link %>">link</a>
      </li>
      <li>
        score: <%= @recommend_board_game.score %>
      </li>
      <li>
        body: <%= @recommend_board_game.body %>
      </li>
      <li>
        created_at: <%= @recommend_board_game.created_at %>
      </li>
  </tbody>

  <h2>Reviews</h2>
  <%= render @recommend_board_game.comment_to_recommends %>

  <h2>Add a review</h2>
  <%= render 'comment_to_recommends/form' %>
  
  <%= link_to "Edit", edit_recommend_board_game_path(@recommend_board_game) %> | 
  <%= link_to "Destory", recommend_board_game_path(@recommend_board_game), method: :delete , data: { confirm: "削除しますか？"} %> <br>
  <a href='/recommend_board_games'>return to recommend_board_game home</a>
</table>

<br>
